#id_text {
    margin-top: 2ex;
}

.messages .glyphicon {
    vertical-align: text-top;
}


.shared-by {
    font-style: italic;
}

.list-sharee {
    font-style: italic;
}

#id_list_owner {
    font-style: italic;
}