{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/static/goat-ico.png" />
        <title>To-Do lists</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <div class="container">


            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand">Goat Testing</a>
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{% url 'lists:my_lists' user.email %}">My lists</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-text">Logged in as {{ user.email }}</li>
                            <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                        </ul>
                    {% else %}
                        <form class="navbar-form navbar-right"
                            action="{% url 'accounts:send_login_email' %}"
                            method="POST">
                            {% csrf_token %}
                            <span>Enter email to Log in:</span>
                            <input type="text" id="id_email" class="form-control" name="email"/>
                        </form>
                    {% endif %}
                </div>
            </nav>

            {% if messages %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {% for message in messages %}
                            <div class="messages alert alert-{% if message.level_tag == 'success' %}success{% else %}warning{% endif %}"
                                >{{ message }} <i class="glyphicon glyphicon-envelope"></i></div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6 col-md-offset-3 jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        {% block list_form %}
                            <form action="{% block form_action %}{% endblock %}" method="POST">
                                {% csrf_token %}
                                {{ form.text }}
                                {% if form.errors %}
                                    <div class="form-group has-error">
                                        <span class="help-block">{{ form.text.errors }}</span>
                                    </div>
                                {% endif %}
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% block table %}{% endblock %}
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static '/js/jquery-3.5.1.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/lists.js' %}"></script>
        <script type="text/javascript">$(() => { Superlists.initialize(); });</script>
    </body>
</html>
