{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do lists</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                {% if user.is_authenticated %}
                    <p>Logged in as {{ user.email }}</p>
                    <p><a id="id_logout" href="{% url 'accounts:logout' %}">Log out</a></p>
                {% else %}
                    <form method="POST" action="{% url 'accounts:send_login_email' %}">
                        {% csrf_token %}
                        Enter email to log in: <input type="text" name="email">
                    </form>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        <form action="{% block form_action %}{% endblock %}" method="POST">
                            {% csrf_token %}
                            {{ form.text }}
                            {% if form.errors %}
                                <div class="form-group has-error">
                                    <span class="help-block">{{ form.text.errors }}</span>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% block table %}{% endblock %}
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static '/js/jquery-3.5.1.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/lists.js' %}"></script>
        <script type="text/javascript">$(() => { Superlists.initialize(); });</script>
    </body>
</html>
