{% extends 'lists/base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'lists:view_list' list.pk %}{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        <tbody>
            {% for item in list.item_set.all %}
                <tr>
                    <td>{{ forloop.counter }}: {{ item.text }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if list.owner %}
        <p>List owner: <span id="id_list_owner">{{ list.owner.email }}</span></p>
    {% endif %}
{% endblock table %}

{% block extra_content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Shared with</h3>
            <ul>
                {% for sharee in list.shared_with.all %}
                    <li class="list-sharee">{{ sharee.email }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-3">
            <h3>Share this list:</h3>
            <form action="{% url 'lists:share' list.pk %}" method="post">
                {% csrf_token %}
                <input type="email" name="sharee" id="id_sharee" placeholder="your-friend@example.com"/>
            </form>
        </div>
    </div>
{% endblock extra_content %}