<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Your To-Do list</h1>
        <form action="{% url 'lists:new_list' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="id_new_item" name="item_text" placeholder="Enter a to-do item">
        </form>
        <table id="id_list_table">
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ forloop.counter }}: {{ item.text }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
